


/*********************************************************************************** BLOG */
article { margin:3px 0px; border-top:1px solid #eee; background:#fff; display: inline-block; width:100%; }
article:first-child { border-top:0px; }
article h2 { margin: 7px 4px 4px; font-size: 14px; }
article h3 a, article h2 a { text-decoration:none !important; font-weight:bold; }
article h3 a:hover, article h2 a:hover { text-decoration:none; }
article p { margin-bottom: 3px; }
article p.posts-summary { height: 69px; overflow:hidden; padding-right: 5px; }
article div.a-meta { font-size: 13px; text-align: right; background-color: #f4f3f2; margin-top: 4px; padding-right: 5px; }
article div.a-meta.a-meta-left { text-align: left; margin-left:0px; padding: 5px; }
article div.a-meta > a { text-decoration:none; }
article div.a-meta > span { float:left; }
article .article-img-pane { width:120px; height:120px; text-align:center; position:relative; float:left; margin-right:10px; overflow:hidden; }
article .article-img-chk{ text-align:center; position:relative; float:left; margin-right:10px; overflow:hidden;}
article .article-img-pane img { height:100%; max-width: inherit; }

.p-blog article h2 { color: #EA2424; }
.p-blog article a { text-decoration:none; }
.p-blog article a p { color: #333; }

.article-comments {}
.article-comments > ul { padding:5px; }
.article-comments > ul  li { list-style:none; border-bottom: 1px solid #DDD; padding-bottom: 10px; margin-bottom: 10px; }
.article-comments > ul  li img { max-width:60px; padding:2px; background-color:#fff;  float:left; border: 1px solid #DDD; margin: 10px 10px 10px 0px; }
.article-comments > ul  li p.c-a-name { font-size: 14px; margin:0px; }
.article-comments > ul  li p { margin:0px; }
.article-comments > ul  li .comment-date { font-size:12px;  }
.article-comments > ul  li p.desc { color:#999; }
.article-comments > ul > li > ul { padding-left:5px; }
.article-comments > ul > li > ul > li { background-color: #EEEFF1; padding: 5px 10px; margin-top: 10px; margin-bottom:0px; }

